# ======================
# Visual Studio
# ======================
.vs/
*.user
*.suo

# ======================
# .NET
# ======================
bin/
obj/

# ======================
# ASP.NET Core
# ======================
appsettings.Development.json

# ======================
# Frontend
# ======================
node_modules/
dist/
build/

# ======================
# OS
# ======================
Thumbs.db
.DS_Store
